.modal-subtitle {
    text-align: center;
    font-weight: bold;
}

.modal-image {
    display: block;
    align-items: center;
    background-color: #ffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}