html {
    height: 100%;
}

a {
    color: black;
    font-size: 16px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #3D5467;
}

h1,
h3 {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
}

h1 {
    color: #EFCB68;
}

h2 {
    padding-top: 40px;
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    color: #E7ECEF;
    word-spacing: 10px;
}

h3,
h4 {
    color: #3D5467;
    font-weight: bold;
}

iframe {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bio-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-primary {
    background-color: #3D5467;
    border-color: #3D5467;
}

.centre {
    width: 250;
    height: 250;
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.textcentred {
    text-align: center;
    padding-bottom: 25px;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}