.thumbnail-image {
    flex: content;
    display: block;
    align-items: center;
    background-color: #ffff;
}

.thumbnail-title,
.thumbnail-subtitle {
    text-align: center;
}

.thumbnail-subtitle {
    font-size: small;
}

.card-overlay-container {
    padding: 10%;
}